body {
  font-family: "Ubuntu Mono", "Arial";
  margin: 0;
  color: white;
  background-color: black;
}

nav,
main {
  display: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  overflow: auto;
}
h2 {
  font-size: 1.5em;
  color: rgb(250, 250, 250);
  margin: 0;
}
h1 {
  margin-top: 10px;
}
#title,
#map,
#steamid {
  display: none;
}
#steamid {
  float: right;
}
#announcement {
  position: absolute;
  width: 98%;
  text-align: center;
}
#history {
  position: absolute;
  text-align: center;
  width: 100%;
  color: rgb(240, 240, 240);
  text-shadow: none;
}
.background {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../images/default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.overhaul {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 1s;
}
.title {
  text-align: center;
  top: 40%;
  width: 100%;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.under-nav {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 70%;
  height: 3%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-box {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 30%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
}
